@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.swiper-pagination-bullet {
  background-color: #8d8d8d!important;
  /* purple */
  opacity: 0.5;
  margin-left: 4px;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #c084fc!important;
  opacity: 1;
}